// 头部
header {
    .header-top {
        background-color: #ff841d;
        display: flex;
        justify-content: space-between;
        height: 0.8rem;
        img:first-child {
            width: 3.2rem;
            height: 0.44rem;
            margin-left: 0.22rem;
            margin-top: 0.18rem;
        }
        img:last-child {
            width: 0.6rem;
            height: 0.58rem;
            margin-right: 0.08rem;
            margin-top: 0.1rem;
        }
    }
    .header-footer {
        display: flex;
        justify-content: space-between;
        height: 0.8rem;
        .ipt {
            width: 4.6rem;
            height: 0.5rem;
            border: 0.01rem solid #f1f1f1;
            border-radius: 0.3rem;
            margin-left: 0.22rem;
            margin-top: 0.15rem;
            padding-left: 0.2rem;
            background-color: #f1f1f1;
        }
        a {
            width: 1rem;
            height: 0.5rem;
            background-color: #ff841d;
            border: 0.01rem solid #f1f1f1;
            border-radius: 0.3rem;
            margin-right: 0.22rem;
            margin-top: 0.15rem;
            color: #fff;
            font-size: 0.3rem;
            text-align: center;
            line-height: 0.5rem;
        }
    }
    .kong {
        height: 0.14rem;
        background-color: #f1f1f1;
    }
}

// 导航栏
.nav {
    margin-bottom: 0.1rem;
    .nav-top {
        ul {
            display: flex;
            flex-wrap: wrap;
            li {
                width: 25%;
                padding: 0.2rem 0 0 0.4rem;
                a {
                    width: 60%;
                    p {
                        width: 100%;
                        text-align: center;
                        font-size: 0.12rem;
                    }
                }
            }
        }
    }
    .nav-footer {
        ul {
            display: flex;
            flex-wrap: wrap;
            li {
                width: 25%;
                padding: 0.2rem 0 0 0.4rem;
                a {
                    width: 60%;
                    p {
                        width: 100%;
                        text-align: center;
                        font-size: 0.12rem;
                    }
                }
            }
        }
    }
}

// 超值折扣推荐
.discount {
    padding-top: 0.1rem;
    background-color: #f1f1f1;
    .discount-top {
        display: flex;
        justify-content: space-between;
        background-color: #ffa027;
        p {
            padding: 0.1rem 0 0.1rem 0.1rem;
            color: #fff;
        }
        a {
            padding: 0.12rem 0.1rem 0.1rem 0;
        }
    }
    .goods {
        height: 8rem;
    }
}

// 更多优惠信息
.morecount {
    padding: 0 0.1rem;
    a {
        padding: 0.1rem 0;
        text-align: center;
        border: 1px solid #e4e4e4;
        border-radius: 0.1rem;
        background-color: #f9f9f9;
    }
}

// 底部
footer {
    background-color: #efefef;
    .brand {
        display: flex;
        justify-content: space-between;
        background-color: #ffa027;
        margin-bottom: 0.4rem;
        p {
            padding: 0.1rem 0 0.1rem 0.1rem;
            color: #fff;
        }
        a {
            padding: 0.12rem 0.1rem 0.1rem 0;
        }
    }
    .footer-top {
        ul {
            display: flex;
            li {
                height: 0.5rem;
                border-top: 1px solid #c9c9c9;
                border-bottom: 1px solid #c9c9c9;
                border-right: 1px solid #c9c9c9;
                text-align: center;
                line-height: 0.5rem;
            }
            li:first-child,
            li:nth-child(2) {
                width: 30%;
            }
            li:last-child {
                width: 40%;
                border-right: none;
            }
        }
    }
    .footer-footer {
        height: 1rem;
        .shouji {
            display: flex;
            justify-content: center;
            height: 0.5rem;
            padding-top: 0.2rem;
            a:first-child {
                color: red;
                padding-right: 0.04rem;
            }
            a:last-child {
                color: #737373;
            }
        }
        a {
            text-align: center;
            color: #737373;
        }
    }
}